$grey:#eee;
$font-title-color:#333;
$font-detail-color:#999;
$font-color:#666;
$red:#ff2741;
$white:#fff;
$black:#242424;
$blue:#5b92e1;
$body-color:#f5f5f5;
$font-size:14px;
$border-area-color:#d3d3d3;
$header-height:42px;
$i-color:#d1d1d1